{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<br><br>
<h2 class="govuk-heading-l">Monthly payment</h2>
<br><br>
<ol class="app-task-list">
  <li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">1. </span>Check eligibility
    </h2>
    <ul class="app-task-list__items">
      <li class="app-task-list__item">
        <!-- <a class="app-task-list__task-name" href="check-eligibility-single" aria-describedby="eligibility-completed"> -->
          Check eligibility for an SDP monthly payment
        </a>
        <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
      </li>
    </ul>
  </li>
  <li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">2. </span> Raise payment
    </h2>
    <ul class="app-task-list__items">
      <li class="app-task-list__item">
        <!-- <a class="app-task-list__task-name" href="raise-payment-single" aria-describedby="company-information-completed"> -->
          Raise payment for monthly SDP payment
        </a>
        <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong>
      </li>
    </ul>
  </li>
  <h2 class="app-task-list__section">
    <span class="app-task-list__section-number">3. </span> Authorise payment
  </h2>
  <ul class="app-task-list__items">
    <li class="app-task-list__item">
      <!-- <a class="app-task-list__task-name" href="authorise-payment-single" aria-describedby="company-information-completed"> -->
        Team leader to authorise SDP payment
      </a>
      <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong>
    </li>
  </ul>
</li>
  <li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">4. </span> Notify claimant
    </h2>
    <ul class="app-task-list__items">
      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="notify-claimant-single">
          Notify claimant of SDP payment
        </a>
      </li>
    </ul>
  </li>
</ol>

</div>
</div>




{% endblock %}
