{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}

<a href="check-carer-element" class="govuk-back-link">Back</a>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="case-header">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
        <span class="govuk-caption-l">Claimant details</span>
        QQ423881A
      </h1>
      <p class="govuk-body"><a href="https://agent-training03.ucd.gpn.gov.uk/agent/claimant-actions/d6ad9130-7d8e-4094-a16f-1ca3745baa70/contract/56ead4de-5cf6-47b5-8d08-67ee6cd2dc61" target="_blank">View claimant in Universal Credit</a></p>
      <strong class="govuk-tag">check eligibility</strong>



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <hr>


          <h2 class="govuk-heading-l">Check eligibility for single payment</h2>
          <p class="govuk-body">You need to make some final checks of the claimant's eligibility.</p>

          <hr>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h3 class="govuk-fieldset__heading">
                  Is the claimant getting paid Universal Credit?
                </h3>
              </legend>
              <span id="getting-uc-hint" class="govuk-hint">
                You'll find this on the 'Statement' in Universal Credit.
              </span>
              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="getting-uc-yes" name="getting-uc" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="getting-uc-yes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="getting-uc-no" name="getting-uc" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="getting-uc">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <hr>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h3 class="govuk-fieldset__heading">
                  Is the claimant's relationship status in Universal Credit different than it was on their first claim date?
                </h3>
              </legend>
              <span id="status-changed-hint" class="govuk-hint">
                The original status for QQ423881A was 'single'. You'll see if this is different now in 'Claim disclosure' in Universal Credit'. </span>
                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="status-changed-yes" name="status-changed" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="status-changed-yes">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="status-changed-no" name="status-changed" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="status-changed-no">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <hr>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h3 class="govuk-fieldset__heading">
                    Which Universal Credit work group is the claimant in?
                  </h3>
                </legend>
                <span id="work-group-hint" class="govuk-hint">
                  You'll find this in 'Work group' in Universal Credit.
                </span>
                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="work-group-intensive" name="work-group" type="radio" value="Intensive work search">
                    <label class="govuk-label govuk-radios__label" for="work-group-intensive">
                      Intensive work search
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="work-group-light-touch-working" name="work-group" type="radio" value="Light touch - in work">
                    <label class="govuk-label govuk-radios__label" for="work-group-light-touch-working">
                      Light touch - in work
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="work-group-light-touch-not-working" name="work-group" type="radio" value="Light touch - out of work">
                    <label class="govuk-label govuk-radios__label" for="work-group-light-touch-not-working">
                      Light touch - out of work
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="work-group-prep" name="work-group" type="radio" value="Work preparation">
                    <label class="govuk-label govuk-radios__label" for="work-group-prep">
                      Work preparation
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="work-group-interview" name="work-group" type="radio" value="Work focused interview">
                    <label class="govuk-label govuk-radios__label" for="work-group-interview">
                      Work focused interview
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="work-group-enough" name="work-group" type="radio" value="Working enough - no work related requirements">
                    <label class="govuk-label govuk-radios__label" for="work-group-enough">
                      Working enough - no work related requirements
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="work-group-no-related" name="work-group" type="radio" value="No work related requirements">
                    <label class="govuk-label govuk-radios__label" for="work-group-no-related">
                      No work related requirements
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>


            <a href="raise-payment-single"><button type="submit" class="govuk-button">
              Save and continue</button></a>


              <p class="govuk-body govuk-!-margin-top-8"></p>


            </div>

            <div class="govuk-grid-column-one-third">
              <p class="govuk-body govuk-!-margin-top-6"></p>
              <div class="app-related-items">
                <h2 class="govuk-heading-s">
                  Actions
                </h2>
                <ul class="govuk-list govuk-body-s">
                  <li><a href="check-eligibility-single-history" class="govuk-link">Case history</a></li>
                </ul>

                <p class="govuk-body govuk-!-margin-top-6"></p>

              </div>
            </div>

          </ul>


        </div>

      </div>

    </main>
  </div>



  {% endblock %}
